menu "USB Switch WiFi Config"
    config WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            WiFi Access point SSID

    config WIFI_PASS
        string "WiFi Password"
        default "mypassword"
        help
            WiFi Access point password

    config WIFI_MAX_RECONNECT
        int "Max Reconnect Attempts"
        default 10
        help
            Max WiFi reconnect attempts
endmenu
